<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Bannerfraction>
            <version>0.1.0</version>
        </Magentothem_Bannerfraction>
    </modules>
    <frontend>
        <routers>
            <bannerfraction>
                <use>standard</use>
                <args>
                    <module>Magentothem_Bannerfraction</module>
                    <frontName>bannerfraction</frontName>
                </args>
            </bannerfraction>
        </routers>
        <layout>
            <updates>
                <bannerfraction>
                    <file>bannerfraction.xml</file>
                </bannerfraction>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bannerfraction>
				<use>admin</use>
				<args>
					<module>Magentothem_Bannerfraction</module>
					<frontName>bannerfraction</frontName>
				</args>
			</bannerfraction>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="bannerfraction">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<bannerfraction translate="title" module="bannerfraction">
						<title>Banner Fraction</title>
						<sort_order>35</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/bannerfraction</action>
							</configuration>
							<items module="bannerfraction">
                                <title>Manage Banner</title>
                                <sort_order>0</sort_order>
                                <action>bannerfraction/adminhtml_bannerfraction</action>
                            </items>
						</children>
					</bannerfraction>
				</children>
			</magentothem>
		</menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bannerfraction>
                                            <title>Banner Fraction</title>
                                        </bannerfraction>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		 <layout>
            <updates>
                <bannerfraction>
                    <file>bannerfraction.xml</file>
                </bannerfraction>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <bannerfraction>
                <class>Magentothem_Bannerfraction_Model</class>
                <resourceModel>bannerfraction_mysql4</resourceModel>
            </bannerfraction>
            <bannerfraction_mysql4>
                <class>Magentothem_Bannerfraction_Model_Mysql4</class>
                <entities>
                    <bannerfraction>
                        <table>bannerfraction</table>
                    </bannerfraction>
                </entities>
            </bannerfraction_mysql4>
        </models>
        <resources>
            <bannerfraction_setup>
                <setup>
                    <module>Magentothem_Bannerfraction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerfraction_setup>
            <bannerfraction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerfraction_write>
            <bannerfraction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerfraction_read>
        </resources>
        <blocks>
            <bannerfraction>
                <class>Magentothem_Bannerfraction_Block</class>
            </bannerfraction>
        </blocks>
        <helpers>
            <bannerfraction>
                <class>Magentothem_Bannerfraction_Helper</class>
            </bannerfraction>
        </helpers>
    </global>
	   <default>
        <bannerfraction>
            <bannerfraction_config>
                <enabled>1</enabled>
                <auto>1</auto>
		<speed>100</speed>
		<hover>0</hover>
		<delay>100</delay>
		<next_back>1</next_back>
		<nav_ctrl>0</nav_ctrl>
            </bannerfraction_config>
        </bannerfraction>
    </default>
</config>